

html{
    box-sizing: border-box;
    font-size: 62.5%;  /*Reset para Rems - 62.5% = 10px de 16px */
}
*,*:before, *:after{
    box-sizing: inherit;
}


body{    
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    line-height: 2;
}


/*  Globales */
img {
    max-width: 100%;
}
.contenedor {
    width: 95%;
    max-width: 105rem;
    margin: 0 auto;
    /* min-height: 35rem; */
    /* REvisar la parte de arriba */
}

h1{
font-size: 3.2rem;
}
h2{
font-size: 3rem;
}
h3{
font-size: 2.5rem;
}
h4{
font-size: 2.6rem;
}



/* Utilidades */
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 100;
}
.centrar-texto {
    text-align: center;
}
.d-block{
    display: block!important ; 
}

.contenido-centrado {
    max-width: 800px;
}

/* Botones */
.boton{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 768px){
    .boton{
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton:hover {
    cursor: pointer;
}

.boton-amarillo{
    background-color: #e08709 ;
}
.boton-verde{
    background-color: #71b100;
}

/*  Header */
.site-header {
    background-color: #333333;
    padding: 1rem 0 2rem 0;

}



.site-header.inicio {
     background-image: url(../img/header6.jpg);
     background-position:  center center;
     background-size: cover;
     height: 100vh;
     min-height: 60rem;
}




.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    text-align: center;
    

}

@media (min-width: 768px){
    .contenido-header{
        text-align: left;
    }
}
.contenido-header h1{
    padding-bottom: 20px;
    -webkit-text-stroke: 1.5px black;
    color: #333333;
    max-width: 60rem;
    
}

.barra{
    padding-top: 3rem;
}

@media (min-width: 768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Navegacion */
.navegacion a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem; /* igual a 18px*/
    align-items: center;
    display: block;
    
}
@media (min-width: 768px){
    .navegacion a{  
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin-right: 0;
    }
}

.navegacion a:hover{
    color: #71b100;
    
}



/* Iconos nosotros */

@media (min-width: 768px){
    .iconos-nosotros{
        display: flex;
        justify-content: space-between;
        }
}


.iconos{
    text-align: center;
}

@media (min-width: 768px){
    .iconos{
        flex-basis: calc(33.3% - 1rem);

    }

}

.iconos h3{
    text-transform: uppercase;
    
}

/* Anuncios o cards */
@media (min-width: 768px){
    
    .contenedor-anuncios {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.anuncio {
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

@media (min-width: 768px){
    .anuncio {
         flex: 0 0 calc(33.3% - 1rem);
    }
}

.contenido-anuncio {
    padding: 2rem;
} 
.contenido-anuncio h3, p {
    margin: 0;
}

.precio {
    color: #71b100;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0; 
   display: flex;
   justify-content: space-evenly;
   flex: 1;
   max-width: 500px;
}
.iconos-caracteristicas li {
    display: flex;
}
.iconos-caracteristicas li img{
    margin-right: 2rem;
    
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}

/* Contacto home */
.imagen-contacto {

    background-image: url(../img/contacto.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto{
    flex: 0 0 96%;
    color: #ffffff;
}

.contenido-contacto p {
    font-size: 1.5rem;
}

/* Seccion inferior */
@media (min-width: 768px){
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
    
    .seccion-inferior .blog {
        flex-basis: 60%;
    }
    .seccion-inferior .testimonial {
        flex-basis: calc(40% - 3rem);
    }
}
.entrada-blog {
  
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    .entrada-blog{
        display: flex;
        justify-content: space-between;
    }
}



.entrada-blog:last-of-type{
    margin-bottom: 0;
}

@media (min-width: 768px){
    .entrada-blog .imagen {
        flex-basis: 40%;
        
    }
    .entrada-blog .texto {
        flex-basis: calc(60% - 3rem);
        line-height: 1.8;
    }
    }


.texto a{
    color: #000000;
    text-decoration: none;
}

.texto h4 {
    margin: 0;
    line-height: 1.4;
}
.texto h4::after {
    content:'';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
    
} 
.texto span {
    color: #e08709;
}

/* Testimoniales */

.testimonial {
    background-color: #71b100;
    border-radius: 2rem;
    padding: 2rem;
    font-size: 2rem;
    color: #ffffff;
}
.testimonial p{
    text-align: right;
}
.testimonial blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

.testimonial blockquote {
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

/* Footer */

.site-footer {
    background-color: #333333;
    margin: 0;
    
}

.contenedor-footer {
    padding: 2rem 0;
    text-align: center;    
}
.site-footer nav {
    display: none;
}

@media (min-width: 768px){
    .site-footer nav {
        display: flex;
    }
    
}

@media (min-width: 768px){
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
        
    }
}


.copyright {
    margin: 0;
    color: #ffffff;
}


/* Paginas Internas */
.contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.contenido-nosotros blockquote {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 1rem 0;

}


/* Contacto */
label {
    display: block;
}

