




html{
    box-sizing: border-box;
    font-size: 62.5%;  /*Reset para Rems - 62.5% = 10px de 16px */
}
*,*:before, *:after{
    box-sizing: inherit;
}


body{
     
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    line-height: 2;
}





/*  Globales */
img {
    max-width: 100%;
}
.contenedor {
    max-width: 105rem;
    margin: 0 auto;
    /* min-height: 35rem; */
    /* REvisar la parte de arriba */
}

h1{
font-size: 3.8rem;
}
h2{
font-size: 3rem;
}
h3{
font-size: 2.5rem;
}
h4{
font-size: 2.6rem;
}
h5{

}
h6{

}


/* Utilidades */
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 100;
}
.centrar-texto {
    text-align: center;
}
.d-block{
    display: block!important ; 
}

/* Botones */
.boton{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo{
    background-color: #e08709 ;
}
.boton-verde{
    background-color: #71b100;
}

/*  Header */
.site-header {
    background-color: #333333;
    padding: 1rem 0 2rem 0;

}

.site-header.inicio {
    background-image: url("../img/header6.jpg");
    background-position:  center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    
}
.contenido-header h1{
    padding-bottom: 20px;
    -webkit-text-stroke: 1.5px black;
    color: #333333;
    max-width: 60rem;
}



.barra{
    display: flex;
    justify-content: space-between;
    padding: top 3rem;;
    align-items: center;
}

/* Navegacion */
.navegacion a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem; /* igual a 18px*/
    margin-right: 2rem;
}
.navegacion a:hover{
    color: #71b100;
    
}


.navegacion a:last-of-type {
    margin-right: 0;
}

/* Iconos nosotros */

.iconos-nosotros{
    display: flex;
    justify-content: space-between;
    
}

.iconos{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.iconos h3{
    text-transform: uppercase;
}

/* Anuncios o cards */

.contenedor-anuncios {
    display: flex;
    justify-content: space-evenly;


}

.anuncio {
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.contenido-anuncio {
    
    padding: 2rem;

    
} 
.contenido-anuncio h3, p {
    margin: 0;
}

.precio {
    color: #71b100;
}

.iconos-caracteristicas {
   display: flex;
   justify-content: space-evenly;
   list-style: none;
   padding: 0; 
}
.iconos-caracteristicas li {
    display: flex;
}
.iconos-caracteristicas li img{
    margin-right: 1rem;
    
}


.ver-todas{
    display: flex;
    justify-content: flex-end;
}

/* Contacto home */
.imagen-contacto {
    background-image: url("../img/contacto.jpg");
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    padding-top: 5rem;
}
.contenido-contacto{
    flex: 1;
    color: #ffffff;
}
.contenido-contacto {
    font-size: 1.8rem;
}

/* Seccion inferior */

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    flex-basis: 60%;
}
.seccion-inferior .testimonial {
    flex-basis: calc(40% - 3rem);
}
.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}
.entrada-blog .imagen {
    flex-basis: 40%;
    
}
.entrada-blog .texto {
    flex-basis: calc(60% - 3rem);
    
    line-height: 1.8;
}

.texto h4 {
    margin: 0;
    line-height: 1.4;
   
}
.texto a{
    color: #000000;
    text-decoration: none;
}
.texto h4::after {
    content:'';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
    
} 
.texto span {
    color: #e08709;
}

/* Testimoniales */

.testimoniales {
    background-color: #71b100;
    border-radius: 2rem;
    padding: 2rem;
    font-size: 2rem;
    color: #ffffff;
}
.testimoniales p{
    text-align: end;
}
.testimoniales blockquote::before {
    content: '';
    background-image: url(/img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

.testimoniales blockquote {
    position: relative;
    padding-left: 5rem;
}

/* Footer */

.site-footer {
    background-color: #333333;
    margin: 0;
}

.contenedor-footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.copyright {
    margin: 0;
    color: #ffffff;
}


/* Paginas Internas */
.contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.contenido-nosotros blockquote {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    /* padding: 1rem 0 1rem 0; */

}


